<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript">
	function loginClick() {
		var name=document.login.username.value;
		var pwd=document.login.password.value;
		if(name==null||name.length==0){
			alert("用户名不能为空！");
			return;
		}
		 if(pwd==null||pwd.length==0){
			alert("密码不能为空！");
			return;
		 }
		 document.login.submit();
	}
</script>
</head>
<body>
	<form name="login" action="/cas/auth" method="post"> 
		<input type="text" name="username" value="huan" style="text-align:center;" class="de"><br/>
		<input type="password" name="password" value="Huan1" style="text-align:center;" class="de"><br/>
		<input type="button" value="登录" class="login_button" onClick="loginClick()"/>
	</form>
</body>
</html>