<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript">
	function loginClick() {
		 document.login.submit();
	}
</script>
</head>
<body>
	<form name="login" action="/auth/getticket" method="post"> 
		<input type="text" name="username" value="huan" style="text-align:center;" class="de"><br/>
		<input type="password" name="password" value="Huan1" style="text-align:center;" class="de"><br/>
		<input type="button" value="登录" class="login_button" onClick="loginClick()"/>
	</form>
</body>
</html>